#img-relative {
  position: relative;
}

#img-absolute {
  position: absolute;
  top: 20px;
  left: 20px;
}

#test1 {
  position: absolute;
  top: 10px;
  left: 100px;
}

#spiral {
  position: absolute;
  top: 200px;
  left: 200px;
}
